footer
    .footer_top
        .link
            ul
                li.active 联系我们
                li
                    p QQ：1151480656
                li
                    p 邮箱：1151480656@qq.com
                li
                    p 地址：杭州市西湖区
            ul
                li.active 内容不妥、侵权
                li
                    p 内容如有不妥之处
                li
                    p 请联系站长
            ul
                li.active 友情链接
                li
                    p 需要友情链接
                li
                    p 请联系站长
           
        .erweima
            img(src="/images/index/king.png", alt="")
            div 
    .footer_bottom 
        .friend
            span 友情链接：
                p 需要友情链接请联系站长
            //- a(href="https://www.51xiaoqu.com/") 小趣生活
            //- a(href="http://www.shuquyun.com") 数趣云
        div.div 内容如有不妥之处，请联系站长
