.home_list.market_tool
    .list.wow.fadeInLeft
        img(src="/images/home/ic_home_app.png", alt="")
        p.title 广告投放
        span.info 精准定位目标用户，一键投放线上流量广告
        .list_cover
            .title 广告投放
            .line
            div.text 根据目标用户精准画像，可投放微信朋友圈等腾讯流量广告，广告效果可实时追踪
            //div.text 轻松开启拼团商城等功能
            //.info_text 帮助寻找问题和目标，进行形势和分析，选择最优方案，提高谈判成功率
    .list.wow.fadeInDown
        img(src="/images/home/ic_home_officialaccounts.png", alt="")
        p.title 大数据拓客
        span.info 根据目标用户标签，深度筛选全网用户
        .list_cover
            .title 大数据拓客
            .line
            div.text 可根据目标标签筛选出需要的用户，然后以短信或者外呼的方式触达客户，推广效果实时反馈
            //div.text 轻松开启拼团商城等功能
            //.info_text 帮助寻找问题和目标，进行形势和分析，选择最优方案，提高谈判成功率
    .list.wow.fadeInUp
        img(src="/images/home/ic_home_operation.png", alt="")
        p.title 短信推广
        span.info 支持营销、通知、金融等多类型短信
        .list_cover
            .title 短信推广
            .line
            div.text 会员通知短信，营销推广短信，高触达率，支持移动、联通、电信三网并发
            //div.text 轻松开启拼团商城等功能
            //.info_text 帮助寻找问题和目标，进行形势和分析，选择最优方案，提高谈判成功率
    .list.wow.fadeInRight
        img(src="/images/home/ic_home_live.png", alt="")
        p.title 更多H5工具
        span.info 后续更多营销推广工具，敬请期待
        .list_cover
            .title 更多H5工具
            .line
            div.text 推广海报素材、H5落地页编辑器、拼团砍价、积分兑换等工具将会陆续优化上线
            //div.text 轻松开启拼团商城等功能
            //.info_text 帮助寻找问题和目标，进行形势和分析，选择最优方案，提高谈判成功率
.home_list.channel_tool
    .list.wow.fadeInLeft
        img(src="/images/home/ic_home_app.png", alt="")
        p.title 酷客APP
        span.info 发布现金任务、名片，快速拓客、引客
        .list_cover
            .title 酷客APP
            .line
            div.text 用户可根据自身业务需要，创建现金或金币任务发布到酷客APP中，实现快速引流
            //div.text 轻松开启拼团商城等功能
            //.info_text 帮助寻找问题和目标，进行形势和分析，选择最优方案，提高谈判成功率
    .list.wow.fadeInLeft
        img(src="/images/home/ic_home_officialaccounts.png", alt="")
        p.title 微信公众号
        span.info 接入您的微信公众号，多种营销工具助你运营
        .list_cover
            .title 微信公众号
            .line
            div.text 将你的公众号绑定到酷客系统中，酷客提供多种粉丝客户运营推广工具，助你更好管理粉丝
            //div.text 轻松开启拼团商城等功能
            //.info_text 帮助寻找问题和目标，进行形势和分析，选择最优方案，提高谈判成功率
    .list.wow.fadeInRight
        img(src="/images/home/ic_home_operation.png", alt="")
        p.title 微信小程序
        span.info 接入您的微信小程序，轻松开启拼团商城等功能
        .list_cover
            .title 微信小程序
            .line
            div.text 绑定你的小程序，自动帮您生成拼团商城等页面，另外还提供多种粉丝运营推广工具，助你更好营销
            //div.text 轻松开启拼团商城等功能
            //.info_text 帮助寻找问题和目标，进行形势和分析，选择最优方案，提高谈判成功率
    .list.wow.fadeInRight
        img(src="/images/home/ic_home_live.png", alt="")
        p.title 支付宝生活号
        span.info 接入您的生活号，多种营销工具助你运营
        .list_cover
            .title 支付宝生活号
            .line
            div.text 绑定你的生活号，自动帮您生成拼团商城等页面，另外还提供多种粉丝运营推广工具，助你更好营销
            //div.text 轻松开启拼团商城等功能
            //.info_text 帮助寻找问题和目标，进行形势和分析，选择最优方案，提高谈判成功率
script.
    //- $(function() {
    //-     $('.home_list .list').hover(function(e){
    //-         $(e.currentTarget).find(".list_cover").css({"transform": "translateY(0)","opacity": 1})
    //-     }, function(e) {
    //-         $(e.currentTarget).find(".list_cover").css({"transform": "translateY(0%)","opacity": 0})
    //-     })

    //- })