extends layout
block header
    link(rel="stylesheet", href="/stylesheets/company.css")
block content
    .home.aboutwehome
        //- img(src="/images/home/img_we.png", alt="" class="home_img")
        .content
            h5.wow.fadeInUp(data-wow-delay="0.1s") 酷客为营销而生
            p.wow.fadeInUp(data-wow.delay="0.3s") 酷客致力于为更多公司和团队实现营销目标成为一家拥抱变化、持续创新的好公司
    //成功案例
    .anli.wow.zoomIn
         -
         for val in list
             a(href=`/aboutwe/${val.id}`).anlia.wow.zoomIn
                 img(src=val.imageUrl)
                 p.p1=val.title
                 p.p2=val.summary


