.data{
    width:80%;
    margin: 80px auto;
    min-height: 600px;
}
.rows{
    width:100%;
    cursor: pointer;
    border:1px solid #eee;
    box-shadow: 3px 3px 5px #888888;
    padding:5px ;
}
.rows .top{
    display: flex;
    align-items: center;
    height:50px;
}
.rows .bottom{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:20px;
}
.bottom .upname{
    color:#E08C09;
}
.bottom .date{
    margin:0 20px;
}

.imgicon{
    width:40px;
    height:40px;
}

.rows .name{
    cursor: pointer;
    margin-left: 20px;
    font-size: 16px;
}
.rows :hover .name{
    color:#1992FA;
}
.fenye{
    width:95%;
    height:50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fenye .pagean{
    display: block;
    width:30px;
    height:20px;
    border:1px solid #888;
    text-align: center;
    margin:0 10px;
    cursor: pointer;
}
.fenye .pagean:hover{
    background: #1992FA;
    border-color:#1992FA;
    color:white;
}
.fenye .activepagean{
    display: block;
    width:30px;
    height:20px;
    margin:0 10px;
    cursor: pointer;
    text-align: center;
    border:1px solid #1992FA;
    background: #1992FA;
    color:white;
}
